name: Build and Package Java App

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64
          cache: maven

      - name: ls command
        run: ls -la

      - name: Build with Maven
        run: mvn -f myapp/pom.xml --batch-mode --update-snapshots verify

      - name: Package build artifacts
        run: mkdir -p stage && cp target/*.jar stage

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Maven Build Package
          path: stage
