name: Build, Package, and Deploy Java App

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64
          cache: maven

      - name: Increment Patch Version
        id: version
        run: |
          VERSION_FILE="myapp/pom.xml"
          CURRENT_VERSION=$(grep -oPm1 "(?<=<version>)[^<]+" "$VERSION_FILE")
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CURRENT_VERSION"
          NEW_PATCH=$((PATCH + 1))
          NEW_VERSION="$MAJOR.$MINOR.$NEW_PATCH"
          sed -i "s/<version>$CURRENT_VERSION<\/version>/<version>$NEW_VERSION<\/version>/" "$VERSION_FILE"
          echo "New version is: $NEW_VERSION"
          echo "version=$NEW_VERSION" >> $GITHUB_ENV

      - name: Build with Maven
        run: mvn -f myapp/pom.xml --batch-mode --update-snapshots clean package

      - name: Package Build Artifacts
        run: mkdir -p stage && cp myapp/target/*.jar stage

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Maven Build Package
          path: stage

      - name: Build Docker Image
        run: |
          echo "Building Docker Image with tag: ${{ env.version }}"
          docker build -f myapp/Dockerfile -t 5d3s1f53a/java-refael:${{ env.version }} .

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image to Docker Hub
        run: |
          docker push 5d3s1f53a/java-refael:${{ env.version }}

      - name: Run Docker Image
        run: |
          docker pull 5d3s1f53a/java-refael:${{ env.version }}
          docker run --rm --user 1000:1000 5d3s1f53a/java-refael:${{ env.version }}


















# name: Build and Package Java App

# on:
#   push:
#     branches:
#       - master

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Repository
#         uses: actions/checkout@v4

#       - name: Set up JDK
#         uses: actions/setup-java@v4
#         with:
#           java-version: '21'
#           distribution: 'temurin'
#           architecture: x64
#           cache: maven

#       - name: ls command
#         run: ls -la

#       - name: Build with Maven
#         run: mvn -f myapp/pom.xml --batch-mode --update-snapshots verify

#       - name: Package build artifacts
#         run: mkdir -p stage && cp myapp/target/*.jar stage

#       - name: Upload build artifacts
#         uses: actions/upload-artifact@v4
#         with:
#           name: Maven Build Package
#           path: stage
